@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #090808;
    --secondary-color: #393424;
    --accent1-color: #134266;
    --accent2-color: #2A5322;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Advent Pro', serif;
    
    --nav-background-color: white;
    --nav-link-color: #2A5322;
    --nav-hover-link-color: #134266;
    --nav-hover-background-color: white;
}
