@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
:root {
    --primary-color: #090808;
    --secondary-color: #393424;
    --accent1-color: steelblue;
    --accent2-color: #3d852f;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Lato', serif;
    
    --nav-background-color: white;
    --nav-link-color: #3d852f;
    --nav-hover-link-color: steelblue;
    --nav-hover-background-color: white;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-transform: uppercase;
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
    color: var(--secondary-color);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}