@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Merriweather, serif;
    font-size: medium;
    color: #0e0b0b;
    background: white;
}
header {
    margin: 0 auto;
    width: 600px;
}
h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}
form {
    width: 550px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #0e0b0b;
    border-radius: 1rem;
    background-color: #f7f5f5;
    display: grid;
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
    color: black;
    
}
input, select, textarea {
    padding: 0.1rem;
    font-size: 1.1rem;
}
button {
    margin: 0.5rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.1rem;
}
button:hover {
    background-color: rgb(1, 1, 44);
}
footer {
    margin: 1rem auto 0;
    width: 600px;
    text-align: center;
    font-size: 0.6rem;
    color: #3c3c3c;
    border-top: 1px solid #3e3e3e;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}