* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: black;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 0;
}
main {
    max-width: 1000px;
}
aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: steelblue;
    color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
h2 {
    text-align: center;
}
main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(223, 223, 223);
    color: black;
}
aside {
    position: relative;
}
aside h2 {
    position: absolute;
    left: 177px;
}